!!! 5
%html
  %head
    %title yellow5
    %link{ rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico" }
    %link{ rel: "stylesheet", type: "text/css", href: "/screen.css" }
  %body
    #yellow5 5
