!!!
%head
  %title yellow5
  %link{ rel: 'shortcut icon', type: 'image/x-icon', href: '/images/favicon.ico' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/styles/screen.css' }
%body
  = content
